body{
    background-image: url(images/background-image-opaque.svg);
    background-position: top;
    background-size: cover;
    background-repeat: repeat;
    font-family: 'Wide Latin';
    margin: 0;
}

div{
    padding: 2rem;
}

header img{
    max-width: 35rem;
    margin: 0;
    align-items: center;
}

header>nav>a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 2rem;
    display: inline-block;
}

header>nav{
    padding: 0 0 1rem 1rem;
    text-align: center;
    font-size: 14px;
}

h2{
    font-size: 28px;
    font-weight: bold;
    font-stretch: ultra-expanded;
    text-align: center;
}

h3{
    font-size: 24px;
    font-weight: bold;
    font-stretch: ultra-expanded;
}

h4{
    font-size: 20px;
    font-weight: bold;
    font-stretch: ultra-expanded;
}

p{
    font-size:20px;
    font-weight:bold;
    font-family:Garamond;
    font-stretch:ultra-expanded;
}

.ourstory{
    background-color: tan;
    border-radius: 1rem;
    padding: 1rem;
    width: 50%;
}

.ourimage{
    padding: 2rem;
    width: 50%;
    text-align: center;
    float: center;
    align-items: center;
}

.story{
    display: flex;
    flex-wrap: wrap justify-content: center;
}

.dinner{
    background-color: tan;
    border-radius: 1rem;
    padding: 1rem;
    width: 50%;
}

.desserts{
    background-color: tan;
    border-radius: 1rem;
    padding: 1rem;
    width: 50%;
}

.drinks{
    background-color: tan;
    border-radius: 1rem;
    padding: 1rem;
    width: 50%;
}

.drinksimages{
    padding: 1rem;
    width: 50%;
}

.menu{
    display: flex;
    flex-wrap: wrap: justify-content: center;
    padding: 2rem;
    text-align: center;
}

.menudrinks{
    display: flex;
    flex-wrap: wrap: justify-content: center;
    padding: 2rem;
    text-align: center;
}

.contact{
    align-content: flex-end;
    background-color: tan;
    border-radius: 2rem;
    padding: 2rem;
    margin: 2rem;
}

header{
    text-align: center;
}

@media screen and (max-width: 600px){
    header img {
        max-width: 15rem;
        margin: 0;
        align-items: center;
    }

    header>nav>a{
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 1rem;
        display: inline-block;
    }

    header>nav{
        padding: 0 0 1rem 1rem;
        text-align: center;
        font-size: 10px;
    }

    ourstory{
        width: 100%;
    }

    p{
        font-size: 8px;
    }

    ourimage{
        width: 100%;
    }

    h2{
        font-size: 12px;
        font-weight: bold;
    }

    h3{
        font-size: 10px;
        font-weight: bold;
        font-stretch: ultra-expanded;
    }

    h4{
        font-size: 8px;
        font-weight: bold;
        font-stretch: ultra-expanded;
    }
}
